.Title{
    color: whitesmoke;
}

.Panel {
    padding: 20px;
    background-color: whitesmoke;
    color: teal;
}

.Paneless{
    padding: 20px;
    color: whitesmoke;
}

.Frame {
    margin: auto;
    width: 50%;
    overflow-wrap: break-word;
}