ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    /* width: 200px; */
    background-color: teal;
    text-align: left;
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
}

li {
    float: left;
}

li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(168, 0, 126);
    color: yellow;
}

.Logo {
    float: right;
}